
<app-header></app-header>
<div class="container-fluid">
    <img src="../../assets/images/story.png" style="height: 300px; width: inherit;">

    <div class="text" >
        <span class="hello">******************************Hey Hello*******************************</span><br>
        <span class="name">WE'RE COUPONS FINDER, </span><br>
        <span class="para">an independent comparison platform and information service that aims to provide you with the tools you need to make better decisions.</span><br>
        <span class="para"> While we are independent, we may receive compensation from our partners for featured placement of their products or services. </span> <br>
        <span class="para">We may also receive compensation if you click on certain links posted on our site.</span> <br><br>
        

    </div>
</div>
<app-footer></app-footer>



