<app-header></app-header>


<div class="container-fluid">
    <div>
       <span class="date"> Date : 23-03-2020, Monday </span>
    </div>
    <div class="row">
      <div class="col-6" *ngFor="let new of news">
        <div class="card w-55 shadow-lg p-3 mb-5 bg-white rounded">
          <div class="card-body">
  
              <!-- <div style="float:left;width:calc(50% - 5px);">
                  <img src="../../assets/images/story.png" style="height: 200px; width:200px;">
                </div>
            
                <div style="float:right;width:calc(50% - 5px)">
                  <img src="../../assets/images/story.png" style="height: 200px; width:200px;">
                </div> -->
             
                <div style="width: 40%;  float: left; "> 
                  <img src="{{new.image}}" style="height: 200px; width:200px;"> 
              </div>
              <div > 
                 <span class="heading">{{new.head}}</span>
                  <br>
                 <span class="news">
              {{new.news}}
            </span>
              </div>
  
  
  
  
            
          </div>
        </div>
  
      </div>
    </div>
   




     


</div>
