<app-header></app-header>


<div class="container-fluid">

  <div class="row card-group">
    <div class="col-6" *ngFor="let detail of details">
      <div class="card w-55 shadow-lg  mb-5 bg-white rounded " >
        <div class="card-body">
    
    
          <div style="width: 40%;  float: left; ">
            <img src="{{detail.image}}" style="height: 120px; width:150px;">
          </div>
          <div>
    
            <span class="heading">{{detail.heading}}</span>
            <br>
            <span class="news">
              {{detail.terms}}
            </span>
            <button type="submit" class="btn btn-primary">click for coupon code</button>
    
          </div>
    
        </div>
      </div>
    </div>
    <!-- <div class="col-6">
      <div class="card w-55 shadow-lg p-3 mb-5 bg-white rounded " *ngFor="let detail of details">
        <div class="card-body">
    
    
          <div style="width: 40%;  float: left; ">
            <img src="{{detail.image}}" style="height: 120px; width:150px;">
          </div>
          <div>
    
            <span class="heading">{{detail.heading}}</span>
            <br>
            <span class="news">
              {{detail.terms}}
            </span>
            <button type="submit" class="btn btn-primary">click for coupon code</button>
    
          </div>
    
    
        </div>
      </div>
    </div>
  </div> -->

  

  

</div>
