<app-header></app-header>


<div class="container-fluid">
   
    <div class="card w-50 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">

           
              <div style="width: 40%;  float: left; "> 
                <img src="../../assets/images/bus.png" style="height: 120px; width:150px;"> 
            </div>
            <div > 
              
                <span class="heading">Get Flat Rs.200 instant dicount on Bus booking on Red bus</span>
                <br>
               <span class="news">
           on First Ever bus booking
           *Terms and conditions Apply
          </span>
          <button type="submit" class="btn btn-primary">click for coupon code</button>
          
            </div>




          
        </div>
      </div>


      <div class="card w-50 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">

           
              <div style="width: 40%;  float: left; "> 
                <img src="../../assets/images/abhi.jpg" style="height: 120px; width:150px;"> 
            </div>
            <div > 
              
                <span class="heading">Get Flat Rs.250 cashback on Bus booking on Abhibus</span>
                <br>
               <span class="news">
           on First Ever bus booking
           *Terms and conditions Apply
          </span>
          <button type="submit" class="btn btn-primary">click for coupon code</button>
          
            </div>
</div>
