<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="main">
                <div class="row">
                    <div class="col-2">
                        <div class="spl">
                            <a href="#"> <i class="fa fa-bus"></i></a>
                            <span class="name">Buses</span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="spl">
                            <a href="#"> <i class="fa fa-plane"></i></a>
                            <span class="name">Flights</span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="spl">
                            <a href="#"><i class="fa fa-train"></i></a>
                            <span class="name">Trains</span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="spl">
                            <a href="#"> <i class="fa fa-building"></i></a>
                            <span class="name"> Hotels</span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="spl">
                            <a href="#"> <i class="fa fa-amazon"></i></a>
                            <span class="name">Fashion</span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="spl">
                            <a href="#"> <i class="fa fa-paypal"></i></a>
                            <span class="name">Payment</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="line">
                <span>Latest News, Best coupons</span>
            </div>
        </div>
    </div>

    <div class="row">
        
            <div class="col-6">
                <div class="card " style="width: 42.2rem;">
                    <img class="card-img-top" src="../../assets/images/story.png" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Lying on taxes: Who’s guilty?</p>
                      <p class="card-line">Americans are more likely to cheat on their partner than on their taxes.</p>
                    </div>
                  </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 21rem;">
                    <img class="card-img-top" src="../../assets/images/story.png" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 19rem;">
                    <img class="card-img-top" src="../../assets/images/story.png" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
        
    </div>
</div>