<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="main">
                <div class="row">
                    <div class="col-2">
                        <div class="spl">
                            <a href="#"> <i class="fa fa-bus"></i></a>
                            <span class="name">Buses</span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="spl">
                            <a href="#"> <i class="fa fa-plane"></i></a>
                            <span class="name">Flights</span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="spl">
                            <a href="#"><i class="fa fa-train"></i></a>
                            <span class="name">Trains</span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="spl">
                            <a href="#"> <i class="fa fa-building"></i></a>
                            <span class="name"> Hotels</span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="spl">
                            <a href="#"> <i class="fa fa-amazon"></i></a>
                            <span class="name">Fashion</span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="spl">
                            <a href="#"> <i class="fa fa-paypal"></i></a>
                            <span class="name">Payment</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>